<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/MyCSS/MyStyle1.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>

    <img id="logo" src="https://wujiateavn.com/images/icon_title.png" />
    <h1>Menu Thức Uống</h1>
    @RenderBody()
    <div id="products">
        <table id="prod-table">
            <tr>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/bi-dao-suong-sao-qb2cpm44.png" /><br />
                    <p id="prod-name">BÍ ĐAO SƯƠNG SÁO</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-suong-sao-4sm5ysso.png" /><br />
                    <p id="prod-name">TRÀ SƯƠNG SÁO</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/hong-tra-bi-dao-sccrscoa.jpg" /><br />
                    <p id="prod-name">HỒNG TRÀ BÍ ĐAO</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-xanh-bi-dao-t9gm7g3c.jpg" /><br />
                    <p id="prod-name">TRÀ XANH BÍ ĐAO</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
            </tr>
        </table>
        <table id="prod-table">
            <tr>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-xanh-hoa-nhai-f2vkxmvu.jpg" /><br />
                    <p id="prod-name">TRÀ XANH HOA NHÀI</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/hong-tra-vai-thieu-2isu3y9o.jpg" /><br />
                    <p id="prod-name">HỒNG TRÀ VẢI THIỀU</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-bi-dao-ngo-gia-q38efry9.jpg" /><br />
                    <p id="prod-name">TRÀ BÍ ĐAO NGÔ GIA</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/hong-tra-dai-loan-zvyjy3xt.jpg" /><br />
                    <p id="prod-name">HỒNG TRÀ ĐÀI LOAN</p>
                    <p id="prod-Price">19,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
            </tr>
        </table>
        <table id="prod-table">
            <tr>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-sua-dai-loan-qlgi7h4z.jpg" /><br />
                    <p id="prod-name">TRÀ SỮA ĐÀI LOAN</p>
                    <p id="prod-Price"> 24,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-sua-tran-chau-duong-den-8ke6swxe.jpg" /><br />
                    <p id="prod-name">TRÀ SỮA TRÂN CHÂU ĐƯỜNG ĐEN</p>
                    <p id="prod-Price">26,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-sua-suong-sao-laessvwl.png" /><br />
                    <p id="prod-name">TRÀ SỮA SƯƠNG SÁO</p>
                    <p id="prod-Price">24,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-sua-vai-thieu-mcpbo5wd.jpg" /><br />
                    <p id="prod-name">TRÀ SỮA VẢI THIỀU</p>
                    <p id="prod-Price">24,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
            </tr>
        </table>
        <table id="prod-table">
            <tr>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/sua-tuoi-tran-chau-duong-den-q8pfcicj.png" /><br />
                    <p id="prod-name">SỮA TƯƠI TRÂN CHÂU ĐƯỜNG ĐEN</p>
                    <p id="prod-Price">44,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/bat-bao-ngo-gia-w4bya2vh.png" /><br />
                    <p id="prod-name">BÁT BẢO NGÔ GIA</p>
                    <p id="prod-Price">39,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/che-suong-sao-nuoc-cot-dua-hhbvwlbz.png" /><br />
                    <p id="prod-name">CHÈ SƯƠNG SÁO NƯỚC CỐT DỪA</p>
                    <p id="prod-Price">39,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
                <td id="prod-td">
                    <img id="prod-img" src="https://wujiateavn.com/files/product/tra-chanh-tac-t0smajp5.png" /><br />
                    <p id="prod-name">TRÀ CHANH TẮC</p>
                    <p id="prod-Price">32,000 đ</p>
                    <button id="prod-Buy" style="border-radius: 0.5rem; width: 100%;background-color: orange;" target="_blank" href="https://order.wujiateavn.com/">Mua ngay</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
